doctype html
html(lang='en')
  head
    title baralhada
  body
    nav.navbar.navbar-inverse(role='navigation',ng-controller='LoginCtrl')
      p.navbar-text.navbar-right
        a(href='#',ng-click='login()',ng-hide='user') Login
      p.navbar-text.navbar-right(ng-show='user'): img(ng-src='{{user.image.url}}')
      p.navbar-text.navbar-right(ng-show='user') Welcome {{user.displayName}}
    .container-fluid
      .row(ng-controller='TableCtrl')
        .col-sm-offset-10.col-sm-2
          button.btn-block.btn.btn-primary(ng-click='newTable()') new table
        .col-sm-10
          input.form-control(ng-model='table_id',placeholder='table id')
        .col-sm-2
          button.btn-block.btn.btn-info(ng-disabled='!table_id' ng-click='viewTable(table_id)') view table
        .col-sm-10
          input.form-control(ng-model='table_secret',placeholder='table secret')
        .col-sm-2
          button.btn-block.btn.btn-success(
            ng-disabled='!table_id || !table_secret || !player || table.players[player.id]'
            ng-click='joinTable(table_id, table_secret, player.id, player.secret)') join table
        .col-sm-12(ng-show='table.id')
          span Welcome to table {{table.id}}!
          span(ng-hide='table.players[player.id]') (view-only)
      .row(ng-controller='HandCtrl',ng-show='table')
        .col-sm-6.col-sm-offset-3
          .alert.alert-warning(ng-hide='hand.id') No hands started yet!
        .col-sm-12
          .btn-group(ng-show='table.players[player.id]')
            button.btn.btn-primary(ng-click='newHand(table.id, table.secret)') new hand
            button.btn.btn-default(ng-click='placeCard(hand.id, table.secret)') place community card
        .col-sm-12
          span.card(ng-repeat='c in hand.community_cards') {{c.number}}{{c.suit}},
        .col-sm-12(ng-repeat='p in hand.table_players')
          .col-sm-3: span {{p.name}}
          .col-sm-5
              span.card(ng-repeat='i in hand.pocket_cards[p.id]',ng-init='c=decript(i, player.secret)') {{c.number}}{{c.suit}},
          .col-sm-2: button.btn-block.btn.btn-default(ng-click='dealCard(hand.id, table.secret, p.id)') deal pocket card
          .col-sm-2: button.btn-block.btn.btn-default(ng-show='p.id == player.id',
            ng-click='revealCards(hand.id, table.secret, player.id, player.secret)') reveal pocket cards
    script(src='//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.14/require.js',data-main='main')
